/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/uploads
 .htaccess---
.user.ini
dadsu.zip
dadsu/
demo/
error_log---
googlee84f3de2438ce778.html
mis-------/
mis--/
mis-oo/
mis/
mis14.zip
otp.php
pages/
php.ini
robots.txt
sitemap.xml
test.php
testotp.php
