html {
    position: relative;
    min-height: 100%;
  }

  body {
    margin: 0;
   /* display: flex;*/
    color: #303e67;
    line-height: 1.5;
    min-height: 100vh;
    position: relative;
    font-size: 0.8125rem;
    letter-spacing: 0.1px;
    background-color: #ffffff;
    overflow-x: hidden !important;
  }

  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #303e67;
    margin: 10px 0;
  }

  h1 {
    line-height: 43px;
  }

  h2 {
    line-height: 35px;
  }

  h3 {
    line-height: 30px;
  }

  h4 {
    line-height: 22px;
  }

  a {
    font-family: "Roboto", sans-serif;
    color: #303e67;
    text-decoration: none;
  }

  a:hover,
  a:active,
  a:focus {
    outline: 0;
    text-decoration: none;
  }

  p {
    line-height: 1.6;
    font-size: 0.8125rem;
    font-weight: 400;
  }

  * {
    outline: none !important;
  }

  .left-sidenav {
    min-width: 230px;
    max-width: 230px;
    background-color: #fff;
    min-height: 100vh;
    transition: 0.3s;
    position: fixed;
    bottom: 0;
    top: 0;
    border-right: 1px solid #e3ebf6;
    z-index: 1001;
  }

  .page-wrapper {
    flex: 1;
    padding: 0;
    display: block;
   margin-left: 230px;
    width: calc(100% - 230px);
  }

  .page-content {
    width: 100%;
    position: relative;
    min-height: calc(100vh - 52px - 2px);
    padding: 0 8px 52px 8px;
    display: inline-block;
  }

  .navbar-custom {
    background: #fff;
    min-height: 52px;
    position: relative;
    border-bottom: 1px solid #e3ebf6;
  }

  .left-sidenav {
    padding-left: 0;
    margin-bottom: 0;
    padding: 16px;
  }

  .left-sidenav .menu-label {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: #8491b7;
    padding: 8px 0;
  }

  .left-sidenav li {
    list-style: none;
    display: block;
    width: 100%;
    margin-top: 6px;
  }

  .left-sidenav li > a {
    display: flex;
    align-items: center;
    padding: 4px 0px;
    color: #68728c;
    transition: all 0.3s ease-out;
    font-weight: 400;
  }

  .left-sidenav li > a .menu-icon {
    width: 18px;
    height: 18px;
    color: #7081b9;
    fill: rgba(112, 129, 185, 0.12);
    margin-right: 6px;
    stroke-width: 1px;
  }

  .left-sidenav li > a.active .menu-icon {
    color: #1761fd;
    fill: rgba(23, 97, 253, 0.12);
  }

  .left-sidenav li > a:hover {
    color: #2f6bf9;
  }

  .left-sidenav li > a:hover i {
    color: #2f6bf9;
  }

  .left-sidenav li > a i {
    width: 16px;
    display: inline-block;
    font-size: 16px;
    opacity: 0.9;
    color: #7081b9;
  }

  .left-sidenav li > a i.ti-control-record {
    font-size: 8px;
    vertical-align: middle;
    margin-right: 0;
  }

  .left-sidenav li > a span i {
    color: #303e67;
  }

  .left-sidenav li ul {
    padding: 0 0 0 25px;
  }

  .left-sidenav li ul li > a {
    padding: 4px 0;
    margin-left: 0;
    color: #68728c;
    font-size: 13px;
    border-left: none;
  }

  .left-sidenav li ul li > a:hover {
    color: #2f6bf9;
  }

  .left-sidenav li ul li > a:hover i {
    color: #1761fd;
  }

  .left-sidenav li.mm-active .menu-arrow i:before {
    content: "\F140";
  }

  .left-sidenav li.mm-active .mm-active a .menu-arrow.left-has-menu i:before {
    content: "\F140";
  }

  .left-sidenav li.mm-active .menu-arrow.left-has-menu i:before {
    content: "\F142";
  }

  .left-sidenav li.mm-active li a menu-arrow.left-has-menu i:before {
    content: "\F142";
  }

  .left-sidenav li.mm-active .mm-active > a {
    color: #6374ff;
    background: #ffffff;
  }

  .left-sidenav li.mm-active .mm-active > a.active {
    color: #303e67;
    background-color: transparent;
  }

  .left-sidenav li.mm-active .mm-active > a i {
    color: #303e67;
  }

  .left-sidenav li.mm-active .mm-active .menu-arrow.left-has-menu i:before {
    content: "\F140";
  }

  .left-sidenav li.mm-active .mm-active .mm-show li a.active {
    color: #6374ff;
    font-weight: 500;
  }

  .left-sidenav li.mm-active > a {
    color: #303e67;
    border-radius: 4px;
  }

  .left-sidenav li.mm-active > a i {
    color: #303e67;
  }

  .left-sidenav li.mm-active .nav-item.active a.nav-link.active {
    background-color: transparent;
    color: #1761fd;
  }

  .left-sidenav li.mm-active .nav-item.active a.nav-link.active i {
    color: #2f6bf9;
  }

  .left-sidenav .menu-arrow {
    margin-left: auto;
  }

  .left-sidenav .menu-arrow i {
    width: 15px;
  }

  @media (max-width: 1316.98px) {
    .page-wrapper {
      width: 100%;
    }
    .left-sidenav {
      margin-top: 52px;
    }
    .left-sidenav .brand {
      display: none;
    }
    .page-wrapper {
      margin: 0;
    }
  }

  @media (max-width: 1024px) {
    body {
      display: block !important;
    }
    .page-wrapper {
      width: 100%;
    }
    .left-sidenav {
      overflow-y: auto;
      z-index: 10;
      bottom: 0;
      top: 52px;
      margin-top: 0;
    }
    .left-sidenav .brand {
      display: none;
      width: 70px;
    }
    .left-sidenav .brand .logo-lg {
      display: none !important;
    }
    .page-wrapper {
      margin: 0;
    }
    .page-content {
      min-height: 100vh;
      padding: 0 0 50px 0;
    }
  }

  .enlarge-menu .left-sidenav {
    display: none;
  }

  .enlarge-menu .left-sidenav .brand {
    background-color: #ffffff;
  }

  .enlarge-menu .page-wrapper {
    margin: 0;
  }

  .page-title-box {
    padding: 16px 0;
  }

  .page-title-box .page-title {
    font-size: 17px;
    margin: 0;
    color: #2c3652;
    font-weight: 500;
    line-height: 18px;
  }

  .page-title-box .breadcrumb {
    font-size: 12px;
    margin-bottom: 0;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding: 2px 0;
    background-color: transparent;
  }

  .navbar-custom {
    background: #ffffff;
    min-height: 52px;
    position: relative;
    border-bottom: 1px solid #e3ebf6;
  }

  .navbar-custom .nav-link {
    padding: 0 0.75rem;
    color: #7081b9;
    line-height: 52px;
    max-height: 52px;
  }

  .navbar-custom .nav-link .nav-icon {
    font-size: 18px;
  }

  .navbar-custom .dropdown-toggle:after {
    content: initial;
  }

  .navbar-custom .topbar-nav {
    height: 52px;
  }

  .navbar-custom .topbar-nav li {
    float: left;
  }

  .navbar-custom .topbar-nav li.show .nav-link {
    background-color: white;
    color: #303e67;
  }

  .navbar-custom .topbar-nav li .topbar-icon {
    height: 20px;
    width: 20px;
  }

  .button-menu-mobile {
    border: none;
    color: #7081b9;
    width: 60px;
    background-color: transparent;
    cursor: pointer;
  }

  .nav-user .nav-user-name {
    vertical-align: middle;
  }

  /* Notification */
  .notification-list .notification-menu {
    max-height: 220px;
    margin-left: 0;
  }

  .notification-list .noti-icon-badge {
    display: inline-block;
    position: absolute;
    top: 9px;
    right: 8px;
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    padding: 1px 4px 1px;
    font-size: 8px !important;
  }

  .app-search-topbar form {
    position: relative;
    z-index: 1;
  }

  .app-search-topbar button {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    text-align: center;
    background-color: transparent;
    color: #7081b9;
  }

  .app-search-topbar button i {
    display: flex;
  }

  .app-search-topbar button:focus {
    outline: none;
  }

  .app-search-topbar input {
    width: 100%;
    height: 56px;
    border: none;
    font-size: 12px;
    border-radius: 4px;
    padding-left: 54px;
    padding-right: 15px;
    background-color: #ffffff;
    color: #303e67;
  }

  .app-search-topbar input:focus {
    box-shadow: none;
    outline: none !important;
  }

  .thumb-xs {
    height: 32px !important;
    width: 32px !important;
    font-size: 10px;
    font-weight: 700;
  }

  .card {
    margin-bottom: 16px;
    background-color: #ffffff;
    border: 1px solid #e3ebf6;
  }

  .card .card-header {
    background-color: #ffffff;
    border-bottom: 1px solid #e3ebf6;
  }

  .card .card-header:first-child {
    border-radius: calc(0.5rem - 5px) calc(0.5rem - 5px) 0 0;
  }

  .card .card-footer {
    background-color: #ffffff;
    border-top: 1px dashed #e3ebf6;
    border-radius: 0 0 calc(0.5rem - 5px) calc(0.5rem - 5px);
  }

  .title-text,
  .card-title {
    text-transform: capitalize;
    letter-spacing: 0.02em;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    color: #2c3652;
    text-shadow: 0 0 1px rgba(241, 245, 250, 0.1);
    font-family: "Poppins", sans-serif;
  }

  .chart-report-card h3,
  .report-card h3 {
    color: #1d2c48;
    font-weight: 600;
    font-size: 20px;
  }

  .btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #303e67;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 0.8125rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .btn-outline-light {
    color: #7081b9;
    background-image: none;
    background-color: transparent;
    border-color: #e3ebf6;
  }

  .dropdown-menu {
    box-shadow: 0 3px 12px #d6e4f1;
    margin: 0;
    font-size: 0.8125rem;
  }

  .dropdown-menu .dropdown-item:hover,
  .dropdown-menu .dropdown-item:focus {
    background-color: rgba(248, 248, 252, 0.5);
    color: #1d2c48;
  }

  .btn-toggle {
    width: 100%;
    text-align: left;
    font-size: 13px;
    display: inline-flex;
    align-items: center;
    padding: 0.25rem 0.5rem;
    color: rgba(0, 0, 0, 0.65);
    background-color: transparent;
    border: 0;
    font-weight: 400;
    position: relative;
  }

  .btn-toggle:hover,
  .btn-toggle:focus {
    color: rgba(0, 0, 0, 0.85);
    background-color: #d2f4ea;
  }

  .btn-toggle::after {
    right: 0;
    width: 1.25em;
    line-height: 0;
    position: absolute;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 320 512'%3e%3cpath fill='blck' d='M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z'%3e%3c/path%3e%3c/svg%3e");
    transition: transform 0.35s ease;
    transform-origin: 0.5em 50%;
    transform: rotate(-90deg);
  }

  .btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, 0.85);
  }

  .btn-toggle[aria-expanded="true"]::after {
    transform: rotate(0deg);
  }

  .btn-toggle-nav a {
    display: block;
    padding: 0.1875rem 0.5rem;
    margin-top: 0.125rem;
    margin-left: 1.25rem;
    text-decoration: none;
  }

  .btn-toggle-nav a:hover,
  .btn-toggle-nav a:focus {
    background-color: #d2f4ea;
  }

  .icon-dual {
    color: #a1acb8;
    fill: rgba(161, 172, 184, 0.12);
  }

  .icon-xs {
    width: 15px;
    height: 15px;
  }

  .icon-sm {
    width: 22px;
    height: 22px;
  }

  .icon-md {
    width: 30px;
    height: 30px;
  }

  .icon-lg {
    width: 36px;
    height: 36px;
  }

  .icon-xl {
    width: 42px;
    height: 42px;
  }

  .avatar-md {
    height: 36px;
    width: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 50%;
    font-size: 18px;
    display: inline-block;
  }

  .bg-soft-primary {
    background-color: rgba(23, 97, 253, 0.08) !important;
    color: #1761fd !important;
  }

  .chat-box-left .chat-list .media .media-body {
    margin-left: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .chat-box-left .chat-list .media .media-body h6 {
    font-size: 14px;
    color: #303e67;
    margin-bottom: 0px;
  }

  .chat-box-left .chat-list .media .media-body p {
    margin-bottom: 0;
    color: #303e67;
    font-size: 12px;
  }

  .chat-box-left .chat-list .media .media-body > div:last-child {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    min-width: 50px;
    text-align: right;
  }

  .chat-box-left
    .chat-list
    .media
    .media-body
    > div:last-child
    span:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #03d87f;
    color: #ffffff;
    border-radius: 50%;
    font-size: 10px;
    width: 18px;
    height: 18px;
    margin-top: 8px;
  }

  .chat-box-left .chat-list .media .media-body span {
    font-size: 12px;
    color: #303e67;
    display: block;
  }

  .media {
    display: flex;
    align-items: flex-start;
  }

  .media-body {
    flex: 1;
  }

  .simplebar-content-wrapper {
    direction: inherit;
    box-sizing: border-box !important;
    position: relative;
    display: block;
    height: 100%;
    /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
    width: auto;
    visibility: visible;
    max-width: 100%;
    /* Not required for horizontal scroll to trigger */
    max-height: 100%;
    /* Needed for vertical scroll to trigger */
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .simplebar-content-wrapper::-webkit-scrollbar,
  .simplebar-hide-scrollbar::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .thumb-sm {
    height: 36px !important;
    width: 36px !important;
    font-size: 12px;
    font-weight: 700;
  }

  .dropdown-lg {
    width: 320px;
  }

  #chart {
    width: 100%;
  }
