@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

@font-face {
  font-family: "poppins";
  src: url("../fonts/poppins-thin-webfont.woff2") format("woff2"),
    url("./fonts/poppins-thin-webfont.woff") format("woff");
  font-weight: 200;
}

@font-face {
  font-family: "poppins";
  src: url("../fonts/poppins-light-webfont.woff2") format("woff2"),
    url("../fonts/poppins-light-webfont.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "poppins";
  src: url("../fonts/poppins-regular-webfont.woff2") format("woff2"),
    url("../fonts/poppins-regular-webfont.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "poppins";
  src: url("../fonts/poppins-medium-webfont.woff2") format("woff2"),
    url("../fonts/poppins-medium-webfont.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "poppins";
  src: url("../fonts/poppins-semibold-webfont.woff2") format("woff2"),
    url("../fonts/poppins-semibold-webfont.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "poppins";
  src: url("../fonts/poppins-bold-webfont.woff2") format("woff2"),
    url("../fonts/poppins-bold-webfont.woff") format("woff");
  font-weight: 800;
}

@font-face {
  font-family: "poppinsextrabold";
  src: url("../fonts/poppins-extrabold-webfont.woff2") format("woff2"),
    url("../fonts/poppins-extrabold-webfont.woff") format("woff");
  font-weight: 900;
}

@import url("./index.css");

:root {
    --primary-blue: #0443c0;
    --primary-white: #ffffff;
    --white-box-border: #eaedf1;
    --white-box-shadow: 0 0 2rem 0 rgb(136 152 170 / 15%);
}

body {
  font-weight: normal;
  font-size: 13px !important;
  font-family: "poppins" !important;
}

h2 {
  font-weight: 700;
  font-size: 1.75rem;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

table.dataTable.no-footer {
  border-bottom: 1px solid #e9ecef !important;
}

table.dataTable thead th {
  background-color: #f6f9fc;
  border: none;
  color: #8898aa !important;
  border-top: 1px solid #e9ecef !important;
  border-bottom: 1px solid #e9ecef !important;
}

.dataTables_info, .dataTables_paginate {
  padding-top: 16px !important;
}

.dataTables_paginate .pagination {
  margin: -8px 0 0 0 !important;
}

.dataTables_length label, .dataTables_filter label {
  display: flex;
  color: #8898aa;
  align-items: center;
}

.table-striped tbody tr:nth-of-type(odd) {
  background: #f6f9fc;
}

.dataTables_length label select {
  margin: 0 6px !important;
}

.dataTables_info {
  color: #979797 !important;
}

.pagination .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  border: none !important;
  background: transparent !important;
}

.pagination .paginate_button {
  padding: 0 !important;
}

.table-image {
  width: 18px;
}

table.dataTable tbody {
  border: none;
}

table.dataTable tbody td {
  border: none;
  border-top: 0;
  border-bottom: 1px solid #e9ecef;
}

.btn-shadow {
  box-shadow: #00000030 0 2px 5px;
}

.btn {
  font-size: 0.813rem !important;
  font-family: "poppins" !important;
}

.removeWhiteSpace {
  white-space: unset !important;
}

.alert-success {
  color: #0f5132;
  border-color: #badbcc;
  background-color: #c9fbd2;
}

.btn-success {
  background-color: #81b53f !important;
}

.padL16i {
  padding-left: 16px !important;
}

.mrgB0 {
  margin-bottom: 0;
}

.form-check-label {
  cursor: pointer;
}

.thanksTitle {
  font-size: 3rem;
  font-weight: 300;
  color: #464646;
}

.input-group-text {
  border: none;
  color: #ffffff;
  background: #0443c0;
}

.form-select,
.input-group-text,
.form-control {
  font-size: 0.875rem;
}

.form-select {
  border: none;
}

.form-sub-title {
  font-weight: 700;
  font-size: 1.125rem;
}

.hei100Per {
  height: 100%;
}

.btn-primary {
  background-color: #0343bf;
  border-color: #0343bf;
}

.form-control::-webkit-input-placeholder {
  color: #939598;
}
.form-control::-moz-placeholder {
  color: #939598;
}
.form-control::placeholder {
  color: #939598;
}

.form-control:focus {
    box-shadow: 0 3px 9px 0 rgb(169 184 200 / 15%);
}

.btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  box-shadow: 0 3px 9px 0 rgb(169 184 200 / 15%);
}

.select-border {
    flex: 1 1 auto;
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
}

.filter-accordion {
    border: 1px solid #eaedf1 !important;
    background: #fff !important;
    padding: 8px 14px !important;
}

.no-border-top-left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.no-border-top-right {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.addShadow {
    box-shadow: 0 3px 9px 0 rgb(169 184 200 / 15%);
}

.header-logo {
  width: 150px;
}

.basket-item-count, .whistlistcount-item {
    right: 5px;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
  background: #ffffff;
}

.head-search-box {
  width: 370px !important;
}

.header-phone-wrapper {
  padding-right: 16px;
}

.head-phone-title {
  font-size: 12px;
}

.head-phone-number {
  font-size: 16px;
  font-weight: 600;
  font-family: arial;
}

.btn-head-icon i {
  color: var(--primary-blue);
  font-size: 1.75rem;
}

.breadcrumb-wrapper {
  color: #ffffff;
  padding: 0;
  text-align: center;
  font-size: 0.875rem;
}

.badge-primary {
    color: var(--primary-white);
    background: var(--primary-blue);
}

.alertify-notifier.ajs-top {
    margin-top: 95px;
}

.alertify-notifier .ajs-message {
    border: none;
}

.alertify-notifier .ajs-message.ajs-success {
    background: #00c851;
    text-shadow: none;
}

.breadcrumb {
    padding: 1rem 0 !important;
    justify-content: center !important;
}

.breadcrumb-wrapper .breadcrumb {
  margin-bottom: 0 !important;
}

.breadcrumb-item,
.breadcrumb-item a {
  color: #76839a !important;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: #76839a;
}

/** Login **/
.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 163px);
}

.login-card {
  width: 570px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px 6px;
}

.login-title {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.login-input-wrapper {
  overflow: hidden;
  border-radius: 6px;
  box-shadow: #0343c120 0 0 16px;
}

.login-input-icon {
  display: flex;
  color: #95969a;
  font-size: 25px;
  align-item: center;
}

.login-input {
  border: none;
  padding: 16px;
}

.login-input-icon-wrapper {
  display: flex;
  text-align: center;
  position: relative;
  align-items: center;
  width: 64px !important;
  justify-content: center;
}

.login-input-icon-wrapper:before {
  top: 0;
  left: 0;
  width: 4px;
  content: "";
  height: 100%;
  position: absolute;
  background: #0343bf;
}
.login-input-icon-wrapper:after {
  top: 50%;
  right: 2px;
  width: 2px;
  content: "";
  height: 20px;
  position: absolute;
  background: #a4bacf;
  transform: translateY(-50%);
}
.login-forgot {
  color: #666666;
  font-weight: 600;
}
.btn-login {
  font-size: 14px;
  font-weight: 500;
}

.btn-login span {
  margin-right: 6px;
}

.card {
  border: 0;
  margin-bottom: 16px;
  box-shadow: 0 0 2rem 0 rgb(136 152 170 / 8%);
  transition: box-shadow .3s ease-in-out;
}

.card:hover {
    box-shadow: 0 18px 3rem 0 rgb(136 152 170 / 22%);
    /* 0 8px 40px rgb(2 59 109 / 22%); */
}

.cursor-pointer {
  cursor: pointer;
}

.category-product-list {
  min-height: 182px;
}

.text-right {
  text-align: right;
}
/** Footer **/
.footer {
  padding: 32px 0 16px 0;
  color: #ffffff;
  font-size: 0.75rem;
  background: #0443c0;
}
.footer-logo {
  width: 150px;
}
.footer h2 {
  font-size: 1rem;
  font-weight: normal;
}
.footer-link-list {
  width: 100%;
  font-size: 0.75rem;
}
.footer-link-list a {
  padding: 2px 0;
  display: block;
  color: #ffffff;
  text-decoration: none;
}
.link-text-white {
  color: #ffffff;
  text-decoration: none;
}
.footer-cards-wrapper {
  margin-top: 8px;
  padding: 6px 8px;
  display: inline-block;
  background: #ffffff;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.side-nav li {
  margin-bottom: 1px;
}
.side-nav li:last-child {
  margin-bottom: none;
}
.side-nav li a {
  padding: 12px;
  display: block;
  color: #ffffff;
  background: #1450bf;
}
.side-nav .sub-nav {
  margin: 0;
  padding: 12px 0;
  list-style: none;
  background: #e6e6e6;
}
.side-nav .sub-nav li a{
  color: #000000;
  padding: 8px 12px;
  background: transparent;
}
.side-nav .sub-nav li a:hover{
  color: #1450bf;
}
